# Backend
Backend/venv/
Backend/__pycache__/
Backend/**/*.pyc
Backend/db.sqlite3
Backend/.env

# Frontend
Frontend/node_modules/
Frontend/.next/
Frontend/.env
Frontend/.env.local

# General
.vscode/
.idea/
.DS_Store
Thumbs.db