@import "tailwindcss";

@theme {
  --color-background: #f4f4ef;
  --color-primary: #6b7a5a;
  --color-secondary: #dad7cd;
  --color-accent: #b08968;
  --color-text: #2c2c2c;
  --color-card: #fffdf8;
  --color-border: #ded8ce;
}